@charset "utf-8";
body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align: center;
}
.parteSuperior .pantalla {
	border-radius: 3px;
	background-color: rgba(0,0,0,0.21);
	color: #ffffff;
	font-size: 17px;
	width: 180px;
	padding: 0 10px;
	height: 40px;
	letter-spacing: 1px;
	line-height: 40px;
	text-align: right;
	float: right;

}
.teclas span, .parteSuperior span.limpiar {
	border-radius: 3px;
	background-color: #ffffff;
	color: #888888;
	cursor: pointer;
	float: left;
	width: 66px;
	
	margin: 0 7px 11px 0;
	height: 36px;
	text-align: center;
	line-height: 36px;
	
}
.parteSuperior span.limpiar {
	background-color: #ff7c87;
}
.operador {
	margin-right: 0px;
	background-color: #ffdab9;
}
.teclas span.igual {
	background-color: #f1ff92;
}




#calculadora {
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
	width: 285px;
	margin: 0px auto;
	padding: 20px 20px 9px;
	height: auto;
	border-radius: 3px;
	background-color: #555;
}
.teclas, .parteSuperior{
	overflow: hidden;
	
}
.teclas span:hover, .teclas span.igual:hover, .parteSuperior span.limpiar:hover{
	background-color: #9c89f6;
	color: #ffffff;
}
.teclas span.operador{
	margin-right: 0px;
	background-color: #FFDAB9
}